

mat-card{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background-color:rgba(132, 146, 249, 0.882);
  border: 2px solid rgba(132, 146, 249, 0.882);
}
button{
  width: 50%;
}

mat-toolbar{
  background-color:rgba(132, 146, 249, 0.882);
}


#editButton{
  color: rgb(69, 135, 197);
  background-color: rgb(178, 192, 204)
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  
}

.demo-row-is-clicked {
  font-weight: bold;
  background-color: rgba(156, 232, 223, 0.457);
}