body{
  background-color: rgb(5, 4, 41);
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.content{
  background-color: white;
  margin-top: 50px;
}

.EmployeesTable{
  width: 100%;
  max-width:60%;
  text-align: center;
  background-color: white;
}

#deleteButton{
    background-color: rgb(199, 92, 92)
}

#editButton{
    background-color: rgb(21, 94, 163)
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}