@model Practica3.EF.MVC.Models.EmployeesView

@{
    ViewBag.Title = "Employees Page";
}

<h1>Vista para insertar</h1>

@using (Html.BeginForm("Insert", "Employees", FormMethod.Post))
{
    <label>Nombre</label>@Html.TextBoxFor(e => e.firstName)
    <label>Apellido</label>@Html.TextBoxFor(e => e.lastName)
    <input type="submit" class="btn btn-success" value="Save" />
}